table {
    width: 100%;
    border-collapse:collapse;
}

th {
    text-align: left;
    padding-top: 10px;
}

table th:last-child {
    text-align: center;
}

table td:last-child {
    text-align: center;
}

tr {
    border-bottom: 1pt solid rgb(245, 245, 245);
}

.container {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 10px;
    margin: 30px;
}

.button-style {
    display: flex;
    justify-content: end;
}

.state {
    padding: 4px;
    width: 100px;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.en-validation {
    background-color: #FDB64D;
}

.valide {
    background-color: #5BE881;
}

.rejete {
    background-color: #FF0000;
}

button {
    
    background-color: #FFAA0B;
    color: #61605E;
    padding: 10px 30px 10px 30px;
    border: 0px;
    border-radius: 4px;
    position: relative;
    
}

.input-div{
    padding-bottom: 20px;
    width: 33%;
}

input, label{
    width: 90%;
}

.row-style{
    
    display: flex;
    justify-content: start;
}
